﻿@page "/fetchdata"
@using GardenControl.Core.Entitys
@inject HttpClient Http

<PageTitle>Тестовая страница</PageTitle>

<h1>Тестовая страница </h1>

<p>This component demonstrates fetching data from the server.</p>



@code {
    // 6700c80f-3e9e-4347-b08f-48acc2189fd9  -- SensorId -- test
    
    private readonly Guid testGuid=Guid.Parse("6700c80f-3e9e-4347-b08f-48acc2189fd9");
    private readonly HttpClient _httpClient;
    public class DataTemperatureItem
    {
        public DateTime DateTime { get; set; }
        public int TemperatureValue { get; set; }
    }

    public List<Temperature> temperatureList;
    protected override async Task OnInitializedAsync()
    {
        //forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("sample-data/weather.json");
        //temperatureList = await _httpClient.GetFromJsonAsync<List<Temperature>>($"{APIConect}/SensorId={testGuid}");
    }

    
}
