﻿@page "/temperature"
@using GardenControl.Core.Entitys
@using System.Globalization
@using System.Security.Cryptography.X509Certificates
@using GardenControl.UI.Client.BaseClass
@using GardenControl.UI.Client.Services
@using GardenControl.UI.Client.Services.Contracts
@using GardenControl.UI.Client.Components
@inherits GardenControl.UI.Client.BaseClass.TemperatureBase

<h3>TemperatureComponent</h3>


@if (TemperatureList == null)
{
    <h3>Загрузка данных...</h3>
}
else
{
    <h3 class ="mb-5">Данные из таблицы</h3>

    var temperatureCount = TemperatureList.Count();

    if (temperatureCount > 0)
    {



            <table>
                <tr>
                    <th>Индекс</th>
                    <th>DeviceID</th>
                    <th>SensorGuid</th>
                    <th>Дата/Время</th>
                    <th>Температура</th>
                </tr>
                @foreach( var tempCheck in TemperatureList)
                {
                    <tr>
                        <td>@tempCheck.Id.ToString()</td>
                        <td>@tempCheck.DeviceId.ToString()</td>
                        <td>@tempCheck.SensorGuid.ToString()</td>
                        <td>@tempCheck.DateTime.ToString("dd.MM.yyyy HH:mm:ss")</td>
                        <td>@tempCheck.CurrentValue.ToString()</td>
                    </tr>
                }
            </table>



    }
}

<GraphicTemperature TempGraph="TemperatureSensorList"/>




@code
{



}
