﻿
@using GardenControl.Core.Entitys
@using Microsoft.AspNetCore.Components
@using System.Globalization




@if ((TempGraph == null) || !TempGraph.Any())
{
    <h3>Загрузка данных... в компоненте</h3>
}
else
{
    <h3 class ="mb-5">Данные из переданых компонентов</h3>
    <table class="table table-striped align-middle table-bordered">
         <thead class="table-success">
         <tr>
             <th>Дата/Время</th>
             <th>Температура</th>
         </tr>
         </thead>
        <tbody>
        @foreach (var temp in TempGraph)
        {
            <tr>
                <td>@temp.DateTime.ToString()</td>
                <td>@temp.CurrentValue.ToString(CultureInfo.InvariantCulture)</td>
            </tr>
        }
        </tbody>
    </table>

    <div class="container">

        <div class="col-lg-6 col-xl-4 p-3">
            <RadzenCard>
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Выберите время начала графика</RadzenText>
                <RadzenDatePicker TValue="DateTime?" Value="@_startdateTime" ShowTime="true" ShowSeconds="false" HoursStep="1.5" MinutesStep="5" SecondsStep="10" Change=@(args => _startdateTime=args) DateFormat="yyyy-MM-dd HH:mm" Class="w-100" />
            </RadzenCard>
        </div>

        <div class="col-lg-6 col-xl-4 p-3">
            <RadzenCard>
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Выберите время конца графика</RadzenText>
                <RadzenDatePicker TValue="DateTime?" Value="@_stopdateTime" ShowTime="true" ShowSeconds="false" HoursStep="1.5" MinutesStep="5" SecondsStep="10" Change=@(args => _stopdateTime=args) DateFormat="yyyy-MM-dd HH:mm" Class="w-100" />
            </RadzenCard>
        </div>


        <div class="row">
            <div class="col-sm-12 my-5">
                <RadzenCard Class="w-100 mb-4" Style="display: flex; align-items: center; gap: 0.5rem">
                    <RadzenCheckBox @bind-Value="@showDataLabels" Name="dataLabels"></RadzenCheckBox>
                    <RadzenLabel Text="Показать метки данных" For="dataLabels"/>
                </RadzenCard>
                <RadzenChart>
                    <RadzenLineSeries Smooth="true" Data="@TempGraph.OrderBy(x => x.DateTime).TakeLast(24)" CategoryProperty="DateTime" Title="Датчик 1" ValueProperty="CurrentValue">
                        <RadzenLegend Position="LegendPosition.Top"/>
                        <RadzenMarkers MarkerType="MarkerType.Circle"/>
                        <RadzenSeriesDataLabels Visible="@showDataLabels"/>
                    </RadzenLineSeries>
                    <RadzenCategoryAxis Formatter="@FormatAsDate"/>
                    <RadzenValueAxis Formatter="@FormatAsTemperature">
                        <RadzenGridLines Visible="true"/>
                        <RadzenAxisTitle Text="Температура"/>
                    </RadzenValueAxis>
                </RadzenChart>
            </div>
        </div>
    </div>


}





@code {
    [Parameter]
    public IEnumerable<Temperature>? TempGraph { get; set; }

    bool showDataLabels = false;

    DateTime? _startdateTime { get; set; }

    DateTime? _stopdateTime { get; set; }

    string FormatAsTemperature(object value)
    {
        return $"{(double)value} °C";
    }
    string FormatAsDate(object value)
    {
        return value != null ? Convert.ToDateTime(value).ToString("MMM dd HH:mm") : string.Empty;
    }




}
